<!DOCTYPE html>
<html lang="sr>
<head>
<meta charset=" UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>EEC</title>
<link rel="shortcut icon" href="{{ base_url() }}/favicon.png" />
<link rel="stylesheet" href="{{ base_url() }}/css/fontawesome.css" />
<link rel="stylesheet" href="{{ base_url() }}/css/brands.css" />
<link rel="stylesheet" href="{{ base_url() }}/css/solid.css" />
<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.css" />
<link rel="stylesheet" href="{{ base_url() }}/css/app.css" />
<link rel="stylesheet" href="{{ base_url() }}/css/print.css">
{% block stil %}{% endblock stil %}
</head>

<body>
	<div class="prn-buttons prn-hide">
		<button class="prn-zatvori" id="prn-zatvori">Zatvori</button>
		<button class="prn-stampaj" id="prn-stampaj">Štampaj</button>
	</div>
	{% block sadrzaj %}{% endblock sadrzaj %}
	<script src="{{ base_url() }}/js/print.js"></script>
	{% block skripta %}{% endblock skripta %}
</body>

</html>
