{% extends "templates/app.twig" %}
{% block stil %} {% endblock stil %}
{% block naslov %}
<div class="row">
	<div class="col-lg-8">
		<h1>
			<i class="fas fa-file-signature text-secondary"></i>
			Pregled ugovora
			<strong class="text-info">{{ ugovor.broj_ugovora }}</strong>
			&emsp;<small class="font-italic">(od {{ugovor.datum|date()}})</small>
		</h1>
	</div>
	<div class="col-lg-4 text-right pt-3">
		<div class="btn-group btn-group-sm">
			<button type="button" class="btn btn-secondary" onclick="window.history.back();"
				title="Povratak na prethodnu stranu"><i class="fas fa-chevron-circle-left"></i> Nazad</button>
			<a href="{{ path_for('termin.detalj.get', { id: ugovor.termin_id }) }}" class="btn btn-secondary"><i
					class="fas fa-arrow-alt-circle-left"></i> Termin</a>
			<a class="btn btn-warning btn-sm" href="{{ path_for('termin.ugovor.izmena.get', { id: ugovor.id }) }}"
				title="Izmena odabranog ugovora"><i class="fas fa-edit"></i> Izmena</a>
			<a href="{{ path_for('ugovor.uplate.lista', { id: ugovor.id }) }}" class="btn btn-success"><i
					class="fas fa-money-bill"></i> Uplate</a>
			{% if ugovor.fizicko_pravno == 1 %}
			<a class="btn btn-primary btn-sm" href="{{ path_for('ugovori.stampa.pravna.single', { id: ugovor.id }) }}"
				target="_blank">
				<i class="fas fa-print"></i>
				Štampa
			</a>
			{% else %}
			<a class="btn btn-primary btn-sm" href="{{ path_for('ugovori.stampa.fizicka.single', { id: ugovor.id }) }}"
				target="_blank">
				<i class="fas fa-print"></i>
				Štampa
			</a>
			{% endif %}
		</div>
	</div>
</div>
<hr>
{% endblock naslov %}
{% block sadrzaj %}
<h4 class="text-primary">
	Termin: {{ugovor.termin().datum|date()}} od {{ ugovor.termin.pocetak|date("H:i") }} do
	{{ ugovor.termin.kraj|date("H:i") }}
</h4>
<table class="table mb-0">
	<tr>
		<th class="w-20">Meni</th>
		<td class="w-70">{{ ugovor.meni.naziv }}</td>
		<td class="w-10 text-right">
			<a class="btn btn-info btn-sm" href="{{ path_for('meni.detalj', { id: ugovor.meni.id }) }}"
				title="Detaljni pregled odabranog menija">
				<i class="fas fa-eye"></i>
			</a </td> </tr> <tr>
		<th><strong>Ime i prezime</strong></th>
		<td>{{ ugovor.punoIme() }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Telefon</strong></th>
		<td>{{ ugovor.telefon }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>E-mail</strong></th>
		<td>
			<a href="mailto:{{ ugovor.email }}">
				{{ ugovor.email }}</td>
		</a>
		<td></td>
	</tr>
	{% if ugovor.fizicko_pravno == 1 %}
	<tr>
		<th><strong>Naziv firme</strong></th>
		<td>{{ ugovor.naziv_firme }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>PIB</strong></th>
		<td>{{ ugovor.pib_firme }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Matični broj</strong></th>
		<td>{{ ugovor.mb_firme }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Adresa i mesto firme</strong></th>
		<td>{{ ugovor.adresa_firme }}, {{ ugovor.mesto_firme }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Račun firme</strong></th>
		<td>{{ ugovor.racun_firme }} kod {{ ugovor.banka_firme }}</td>
		<td></td>
	</tr>
	{% endif %}
	<tr class="bg-light">
		<th><strong>Cena</strong></th>
		<td>{{ ugovor.iznos|number_format }}</td>
		<td></td>
	</tr>
	<tr class="bg-light">
		<th><strong>Cena usluga</strong></th>
		<td>{{ ugovor.cenaUsluga()|number_format }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Posebni zahtevi</strong></th>
		<td>{{ ugovor.posebni_zahtevi }}</td>
		<td></td>
	</tr>
	<tr>
		<th><strong>Napomena</strong></th>
		<td>{{ ugovor.napomena }}</td>
		<td></td>
	</tr>
</table>
<hr>
<div class="card border-dark mb-2">
	<div class="card-header">
		Detalji vezani za organizaciju
	</div>
	<div class="card-body text-dark">
		<div class="row">
			<div class="col">
				<table class="table table-sm table-striped mb-0" style="font-size: 0.875rem;">
					<thead>
						<tr>
							<th class="w-5">#</th>
							<th class="w-20">Usluga</th>
							<th class="w-15 text-center">Status</th>
							<th class="w-45">Opis</th>
							<th class="w-15">Iznos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>1</th>
							<td>Muzika</td>
							<td class="text-center">
								{{ (ugovor.muzika_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.muzika_opis }}</td>
							<td class="text-success">{{ ugovor.muzika_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>2</th>
							<td>Fotograf</td>
							<td class="text-center">
								{{ (ugovor.fotograf_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.fotograf_opis }}</td>
							<td class="text-success">{{ ugovor.fotograf_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>3</th>
							<td>Torta</td>
							<td class="text-center">
								{{ (ugovor.torta_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.torta_opis }}</td>
							<td class="text-success">{{ ugovor.torta_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>4</th>
							<td>Dekoracija</td>
							<td class="text-center">
								{{ (ugovor.dekoracija_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.dekoracija_opis }}</td>
							<td class="text-success">{{ ugovor.dekoracija_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>5</th>
							<td>Kokteli</td>
							<td class="text-center">
								{{ (ugovor.kokteli_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.kokteli_opis }}</td>
							<td class="text-success">{{ ugovor.kokteli_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>6</th>
							<td>Slatki sto</td>
							<td class="text-center">
								{{ (ugovor.slatki_sto_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.slatki_sto_opis }}</td>
							<td class="text-success">{{ ugovor.slatki_sto_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>7</th>
							<td>Voćni sto</td>
							<td class="text-center">
								{{ (ugovor.vocni_sto_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.vocni_sto_opis }}</td>
							<td class="text-success">{{ ugovor.vocni_sto_iznos | number_format(2, '.', ',') }}</td>
						</tr>
						<tr>
							<th>8</th>
							<td>Posebni zahtevi</td>
							<td>
							</td>
							<td>{{ ugovor.posebni_zahtevi }}</td>
							<td class="text-success">{{ ugovor.posebni_zahtevi_iznos | number_format(2, '.', ',') }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{# Modal za brisanje dokumenta #}
<div id="brisanjeDokumenta" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger">Upozorenje!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>Da li želite trajno da obrišete dokument?</h4>
				<h5 class="text-danger">* FAJL (dokument) ĆE TAKOĐE BITI OBRISAN !!!</h5>
				<p class="text-danger">* Ova akcija je nepovratna!</p>
				<form id="brisanje-dokumenta" action="{{ path_for('dokument.brisanje') }}" method="POST">
					{{ csrf|raw }}
					<input type="hidden" id="modal_dokument_id" name="modal_dokument_id">
					<input type="hidden" id="modal_dokument_ugovor_id" name="modal_dokument_ugovor_id"
						value="{{ugovor.id}}">
					<hr style="margin-top: 30px;">

					<div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
						<div class="form-group">
							<button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>&emsp;Obriši
							</button>
							<a class="btn btn-secondary" data-dismiss="modal">
								<i class="fas fa-ban"></i>&emsp;Otkaži
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{# Kraj modala za brisanje dokumenta #}

{# Modal za izmenu dokumenta #}
<div id="izmenaDokumenta" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger">Izmeni stavku</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="izmena-dokumenta" action="{{ path_for('dokument.izmena') }}" method="POST"
					class="needs-validation" novalidate>
					{{ csrf|raw }}
					<input type="hidden" id="idIzmenaDokumenta" name="idIzmenaDokumenta">
					<input type="hidden" id="idUgovorDokumenta" name="idUgovorDokumenta" value="{{ ugovor.id }}">
					<div class="form-group">
						<label for="opisModal">Opis</label>
						<input type="text" class="form-control{{ errors.opisModal[0] ? ' is-invalid' : '' }}"
							name="opisModal" id="opisModal" aria-describedby="opis dokumenta" required>
						<div class="valid-feedback">Odgovarajući podatak</div>
						<div class="invalid-feedback">
							{{ errors.opisModal[0] ? : 'Obavezno polje' }}
						</div>
					</div>
					<hr style="margin-top: 30px;">
					<div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
						<div class="form-group">
							<button id="btn-izmeni-dokument" type="submit" class="btn btn-warning">
								<i class="fas fa-save"></i>&emsp;Snimi
							</button>
							<a class="btn btn-secondary" data-dismiss="modal">
								<i class="fas fa-ban"></i>&emsp;Otkaži
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{# Kraj modala za izmenu dokumenta #}
{% endblock sadrzaj %}
{% block traka %}
<div class="card border-dark mb-3">
	<div class="card-header text-primary">
		Dodavanje dokumenta
	</div>
	<div class="card-body text-dark">
		<form id="dokument-forma" action="{{ path_for('dokument.dodavanje') }}" method="POST"
			enctype="multipart/form-data" class="needs-validation" novalidate>
			{{ csrf|raw }}
			<input type="hidden" id="ugovor_id" name="ugovor_id" value="{{ ugovor.id }}">
			<div class="form-row">
				<div class="col form-group">
					<label for="opis">Opis</label>
					<input type="text" value="{{ old.opis ? : '' }}"
						class="form-control{{ errors.opis[0] ? ' is-invalid' : '' }}" name="opis" id="opis" required>
					<div class="valid-feedback">Odgovarajući podatak</div>
					<div class="invalid-feedback">{{ errors.sala_id[0] ? : 'Obavezno polje' }}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6">
					<div class="custom-file">
						<input type="file" class="custom-file-input{{ errors.dokument[0] ? ' is-invalid' : '' }}"
							id="dokument" name="dokument" required>
						<label id="file-label" class="custom-file-label" for="dokument" data-browse="Pronađi">Izaberi
							dokument</label>
						<div class="valid-feedback">Odgovarajući podatak</div>
						<div class="invalid-feedback">{{ errors.dokument[0] ? : 'Morate odabrati dokument' }}</div>
					</div>
				</div>
				<div class="col-lg-6 form-group text-right mb-0">
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-plus-square"></i> Dodaj
					</button>
					<button type="reset" class="btn btn-secondary" id="otkazi-validation">
						<i class="fas fa-ban"></i> Otkaži
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="card border-dark mb-3">
	<div class="card-header">
		Dokumenti
	</div>
	<div class="card-body text-dark">
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="w-10">#</th>
					<th class="w-70">Opis</th>
					<th class="w-20 text-right text-warning">
						<i class="fas fa-cogs"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for dok in ugovor.dokumenti() %}
				<tr>
					<th>{{ loop.index }}</th>
					<td>{{ dok.opis }}</td>
					<td class="text-right">
						<div class="btn-group btn-group-sm">
							<a href="{{ dok.link }}" class="btn btn-success" target="_blank">
								<i class="fas fa-eye"></i>
							</a>
							<button class="btn btn-warning btn-sm otvori-izmenu-dokumenta" data-toggle="modal"
								data-target="#izmenaDokumenta" data-id="{{ dok.id }}" title="Izmena podataka dokumenta">
								<i class="fas fa-edit"></i>
							</button>
							<button class="btn btn-danger btn-sm otvori-brisanje-dokumenta" data-toggle="modal"
								data-target="#brisanjeDokumenta" data-id="{{ dok.id }}"
								title="Brisanje odabranog dokumenta">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock traka %}
{% block skripta %}
<script>
	$(document).ready(function () {

		$(".otvori-brisanje-dokumenta").on("click", function () {
			var id = $(this).data("id");
			$("#modal_dokument_id").val(id);
		});

		$(document).on('click', '.otvori-uplatu', function () {
			var id = $(this).data("id");
			$('#idUgovora').val(id);
		});

		$("#dokument").on("change", function () {
			$("#file-label").text(this.files[0].name);
		});

		$("#otkazi-validation").on("click", function () {
			$("#dokument-forma").removeClass("was-validated");
		});

	});

	$(document).on('click', '.otvori-izmenu-dokumenta', function () {

		var csrfName = $(".csrf_name").val();
		var csrfValue = $(".csrf_value").val();
		var id = $(this).data("id");

		var csrfAndData = {
			"csrf_name": csrfName,
			"csrf_value": csrfValue,
			"id": id
		};

		var ruta = ["{{ path_for('dokument.detalj') }}"];

		$.ajax({
			url: ruta,
			type: "POST",
			data: csrfAndData,
			success: function (data) {
				$(".csrf_name").val(data.cname);
				$(".csrf_value").val(data.cvalue);
				$("#idIzmenaDokumenta").val(data.dokument.id);
				$("#opisModal").val(data.dokument.opis);
			}
		});

	});

	(function () {
		"use strict";
		window.addEventListener(
			"load",
			function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName("needs-validation");
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener(
						"submit",
						function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add("was-validated");
						},
						false
					);
				});
			},
			false
		);
	})();
</script>
{% endblock skripta %}
