{% extends "templates/app.twig" %}
{% block stil %} {% endblock stil %}
{% block naslov %}
<div class="row">
	<div class="col-lg-8">
		<h1>
			<i class="fas fa-file-signature text-secondary"></i>
			Dopuna ugovora
			<strong class="text-info">{{ ugovor.broj_ugovora }}</strong>
			<small class="font-italic">(od {{ ugovor.datum|date() }})</small>
		</h1>
	</div>
	<div class="col-lg-4 text-right pt-3">
		<div class="btn-group btn-group-sm">
			<a href="{{ path_for('termin.detalj.get', { id: ugovor.termin_id }) }}" class="btn btn-secondary"><i
					class="fas fa-arrow-alt-circle-left"></i> Termin</a>
		</div>
	</div>
</div>
<hr>
{% endblock naslov %}
{% block sadrzaj %}
<h4 class="text-primary">
	Termin: {{ ugovor.termin().datum|date() }} od {{ ugovor.termin.pocetak|date("H:i") }} do
	{{ ugovor.termin.kraj|date("H:i") }}
</h4>
<table class="table table-sm table-hover mb-0">
	<tr>
		<th class="w-20"><strong>Lični podaci</strong></th>
		<td class="w-30">{{ ugovor.punoIme() }}</td>
		<td class="w-25">{{ ugovor.telefon }}</td>
		<td class="w-25"><a href="mailto:{{ ugovor.email }}">{{ ugovor.email }}</td>
	</tr>
	<tr>
		<th><strong>Adresa</strong></th>
		<td>{{ ugovor.adresa_firme }}</td>
		<td>{{ ugovor.mesto_firme }}</td>
		<td></td>
	</tr>
	{% if ugovor.fizicko_pravno == 1 %}
	<tr>
		<th><strong>Podaci o firmi</strong></th>
		<td>{{ ugovor.naziv_firme }}</td>
		<td><em>PIB:</em> {{ ugovor.pib_firme }}</td>
		<td><em>MB:</em> {{ ugovor.mb_firme }}</td>
	</tr>
	<tr>
		<th><strong>Račun firme</strong></th>
		<td>{{ ugovor.banka_firme }}</td>
		<td>{{ ugovor.racun_firme }}</td>
		<td></td>
	</tr>
	{% endif %}
	<tr>
		<th><strong>Broj mesta</strong></th>
		<td>{{ ugovor.broj_mesta }}</td>
		<th><strong>Broj stolova</strong></th>
		<td>{{ ugovor.broj_stolova }} / {{ ugovor.broj_mesta_po_stolu }}</td>
	</tr>
	<tr>
		<th><strong>Iznos</strong></th>
		<td><em>Meni</em></td>
		<td><em>Dodatne usluge</em></td>
		<td><em>Sobe</em></td>
	</tr>
	<tr>
		<th class="text-success">{{ ugovor.ukupanIznos()|number_format() }}</th>
		<td>{{ ugovor.iznos_meni|number_format() }}</td>
		<td>{{ ugovor.iznos_dodatno|number_format() }}</td>
		<td>{{ ugovor.iznos_sobe|number_format() }}</td>
	</tr>
	<tr>
		<th><strong>Posebni zahtevi</strong></th>
		<td colspan="3">{{ ugovor.posebni_zahtevi_opis }}</td>
	</tr>
	<tr>
		<th><strong>Napomena</strong></th>
		<td colspan="3">{{ ugovor.napomena }}</td>
	</tr>
</table>
<hr>


{# DODAVANJE MENIJA #}
<h3 class="text-info">Meni</h3>
<form id="forma-meni" action="{{ path_for('ugovor.dopuna.meni') }}" method="POST" class="needs-validation" novalidate>
	{{ csrf|raw }}
	<input type="hidden" id="ugovor_id_meni" name="ugovor_id_meni" value="{{ ugovor.id }}">
	<div class="form-row">

		<div class="form-group col-md-3">
			<select name="meni_id" id="meni_id" class="custom-select{{ errors.meni_id[0] ? ' is-invalid' : '' }}"
				required>
				<option value="" data-cena="0">Odaberite meni ...</option>
				{% for meni in meniji %}
				<option value="{{ meni.id }}" data-cena="{{ meni.cena }}"
					{{ old.meni_id == meni.id ? ' selected' : '' }}>{{ meni.naziv }}</option>
				{% endfor %}
			</select>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">
				{{ errors.meni_id[0] ? : 'Obavezno polje' }}
			</div>
		</div>
		<div class="col-md-3 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Cena po komadu</span></div>
				<input type="number" value="0" class="form-control" name="cena" id="meni_cena" readonly>
			</div>
		</div>

		<div class="col-md-2 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Komada</span></div>
				<input type="text" value="1" class="form-control" name="komada" id="meni_komada" min="1" step="1"
					required>
			</div>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">{{ errors.komada[0] ? : 'Obavezno polje' }}</div>
		</div>

		<div class="col-md-3 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Popust po komadu (iznos)</span></div>
				<input type="text" value="0" class="form-control" name="popust" id="meni_popust" min="0" step="0.01"
					required>
			</div>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">{{ errors.popust[0] ? : 'Obavezno polje' }}</div>
		</div>

		<div class="col-md-1 text-right">
			<button class="btn btn-info" type="submit" title="Dodaj meni">
				<i class="fas fa-plus-square"></i> Dodaj
			</button>
		</div>
	</div>
</form>
<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<tr>
				<th class="w-20">Meni</th>
				<th class="w-10 text-right">Komada</th>
				<th class="w-15 text-right">Cena</th>
				<th class="w-15 text-right">Popust</th>
				<th class="w-15 text-right">Cena sa popustom</th>
				<th class="w-15 text-right">Iznos</th>
				<th class="w-10 text-right text-warning"><i class="fas fa-cogs"></i></th>
			</tr>
		</thead>
		<tbody>
			{% for um in ugovor.meniUgovor() %}
			<tr>
				<td>{{ um.meni().naziv }}</td>
				<td class="text-right">{{ um.komada|number_format(0) }}</td>
				<td class="text-right">{{ um.meni().cena|number_format() }}</td>
				<td class="text-right">{{ um.popust|number_format() }}</td>
				<td class="text-right">{{ um.cena_sa_popustom|number_format() }}</td>
				<td class="text-right">{{ um.iznos|number_format() }}</td>
				<td class="text-right">
					<button class="btn btn-danger btn-sm otvori-brisanje-menija" data-toggle="modal"
						data-target="#brisanjeMenija" data-id="{{ um.id }}" title="Brisanje odabranog menija">
						<i class="fas fa-trash-alt"></i>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="bg-light">
				<td></td>
				<td class="text-right text-primary">{{ ugovor.ukupanBrojMenija()|number_format(0) }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-right text-primary">{{ ugovor.ukupanIznosMenija()|number_format() }}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>

{# Modal za brisanje menija #}
<div id="brisanjeMenija" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger">Upozorenje!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>Da li želite trajno da obrišete meni?</h4>
				<p class="text-danger">* Ova akcija je nepovratna!</p>
				<form id="brisanje-menija" action="{{ path_for('meni.dopuna.brisanje') }}" method="POST">
					{{ csrf|raw }}
					<input type="hidden" id="idBrisanjeMenija" name="idBrisanjeMenija">
					<input type="hidden" id="ugovor_idmeni" name="ugovor_idmeni" value="{{ ugovor.id }}">
					<hr style="margin-top: 30px;">

					<div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
						<div class="form-group">
							<button id="btn-brisanje-menija" type="submit" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>&emsp;Obriši
							</button>
							<a class="btn btn-secondary" data-dismiss="modal">
								<i class="fas fa-ban"></i>&emsp;Otkaži
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{# Kraj modala za brisanje menija#}


{# DODAVANJE SOBA #}
<h3 class="text-info">Sobe</h3>
<form id="forma-sobe" action="{{ path_for('ugovor.dopuna.soba') }}" method="POST" class="needs-validation" novalidate>
	{{ csrf|raw }}
	<input type="hidden" id="ugovor_id_soba" name="ugovor_id_soba" value="{{ ugovor.id }}">
	<div class="form-row">

		<div class="form-group col-md-3">
			<select name="soba_id" id="soba_id" class="custom-select{{ errors.soba_id[0] ? ' is-invalid' : '' }}"
				required>
				<option value="" data-cena="0">Odaberite sobu ...</option>
				{% for soba in sobe %}
				<option value="{{ soba.id }}" data-cena="{{ soba.cena }}"
					{{ old.soba_id == soba.id ? ' selected' : '' }}>{{ soba.naziv }}</option>
				{% endfor %}
			</select>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">
				{{ errors.soba_id[0] ? : 'Obavezno polje' }}
			</div>
		</div>
		<div class="col-md-3 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Cena po komadu</span></div>
				<input type="number" value="0" class="form-control" name="cena" id="soba_cena" readonly>
			</div>
		</div>

		<div class="col-md-2 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Komada</span></div>
				<input type="text" value="1" class="form-control" name="komada" id="soba_komada" min="1" step="1"
					required>
			</div>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">{{ errors.komada[0] ? : 'Obavezno polje' }}</div>
		</div>

		<div class="col-md-3 form-group">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Popust po komadu (iznos)</span></div>
				<input type="text" value="0" class="form-control" name="popust" id="soba_popust" min="0" step="0.01"
					required>
			</div>
			<div class="valid-feedback">Odgovarajući podatak</div>
			<div class="invalid-feedback">{{ errors.popust[0] ? : 'Obavezno polje' }}</div>
		</div>

		<div class="col-md-1 text-right">
			<button class="btn btn-info" type="submit" title="Dodaj meni">
				<i class="fas fa-plus-square"></i> Dodaj
			</button>
		</div>
	</div>
</form>
<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<tr>
				<th class="w-20">Soba</th>
				<th class="w-10 text-right">Komada</th>
				<th class="w-15 text-right">Cena</th>
				<th class="w-15 text-right">Popust</th>
				<th class="w-15 text-right">Cena sa popustom</th>
				<th class="w-15 text-right">Iznos</th>
				<th class="w-10 text-right text-warning">
					<i class="fas fa-cogs"></i>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for us in ugovor.sobaUgovor() %}
			<tr>
				<td>{{ us.soba().naziv }}</td>
				<td class="text-right">{{ us.komada|number_format(0) }}</td>
				<td class="text-right">{{ us.soba().cena|number_format() }}</td>
				<td class="text-right">{{ us.popust|number_format() }}</td>
				<td class="text-right">{{ us.cena_sa_popustom|number_format() }}</td>
				<td class="text-right">{{ us.iznos|number_format() }}</td>
				<td class="text-right">
					<button class="btn btn-danger btn-sm otvori-brisanje-sobe" data-toggle="modal"
						data-target="#brisanjeSobe" data-id="{{ us.id }}" title="Brisanje odabranog sobe">
						<i class="fas fa-trash-alt"></i>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="bg-light">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-right text-primary">{{ ugovor.ukupanIznosSoba()|number_format() }}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>


{# Modal za brisanje sobe #}
<div id="brisanjeSobe" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger">Upozorenje!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>Da li želite trajno da obrišete sobu?</h4>
				<p class="text-danger">* Ova akcija je nepovratna!</p>
				<form id="brisanje-sobe" action="{{ path_for('soba.dopuna.brisanje') }}" method="POST">
					{{ csrf|raw }}
					<input type="hidden" id="idBrisanjeSobe" name="idBrisanjeSobe">
					<input type="hidden" id="ugovor_idmeni" name="ugovor_idmeni" value="{{ ugovor.id }}">
					<hr style="margin-top: 30px;">

					<div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
						<div class="form-group">
							<button id="btn-brisanje-sobe" type="submit" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>&emsp;Obriši
							</button>
							<a class="btn btn-secondary" data-dismiss="modal">
								<i class="fas fa-ban"></i>&emsp;Otkaži
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{# Kraj modala za brisanje sobe#}


{# DODATNE USLUGE #}
<div class="card border-dark mb-2">
	<div class="card-header">
		<h5>Dodatne usluge</h5>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<table class="table table-sm table-hover mb-0" style="font-size: 0.875rem;">
					<thead>
						<tr>
							<th class="w-5">#</th>
							<th class="w-20">Usluga</th>
							<th class="w-20">Komitent</th>
							<th class="w-15 text-center">Status</th>
							<th class="w-25">Opis</th>
							<th class="w-15">Iznos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>1</th>
							<td>Muzika</td>
							<td>
								{{ ugovor.komitent('muzika_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('muzika_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.muzika_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.muzika_opis }}</td>
							<td class="text-success">{{ ugovor.muzika_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>2</th>
							<td>Fotograf</td>
							<td>
								{{ ugovor.komitent('fotograf_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('fotograf_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.fotograf_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.fotograf_opis }}</td>
							<td class="text-success">{{ ugovor.fotograf_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>3</th>
							<td>Torta</td>
							<td>
								{{ ugovor.komitent('torta_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('torta_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.torta_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.torta_opis }}</td>
							<td class="text-success">{{ ugovor.torta_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>4</th>
							<td>Dekoracija</td>
							<td>
								{{ ugovor.komitent('dekoracija_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('dekoracija_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.dekoracija_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.dekoracija_opis }}</td>
							<td class="text-success">{{ ugovor.dekoracija_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>5</th>
							<td>Kokteli</td>
							<td>
								{{ ugovor.komitent('kokteli_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('kokteli_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.kokteli_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.kokteli_opis }}</td>
							<td class="text-success">{{ ugovor.kokteli_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>6</th>
							<td>Slatki sto</td>
							<td>
								{{ ugovor.komitent('slatki_sto_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('slatki_sto_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.slatki_sto_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.slatki_sto_opis }}</td>
							<td class="text-success">{{ ugovor.slatki_sto_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>7</th>
							<td>Voćni sto</td>
							<td>
								{{ ugovor.komitent('vocni_sto_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('vocni_sto_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.vocni_sto_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.vocni_sto_opis }}</td>
							<td class="text-success">{{ ugovor.vocni_sto_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>8</th>
							<td>Animator</td>
							<td>
								{{ ugovor.komitent('animator_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('animator_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.animator_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.animator_opis }}</td>
							<td class="text-success">{{ ugovor.animator_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>9</th>
							<td>Trubači</td>
							<td>
								{{ ugovor.komitent('trubaci_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('trubaci_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.trubaci_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.trubaci_opis }}</td>
							<td class="text-success">{{ ugovor.trubaci_iznos|number_format() }}</td>
						</tr>
						<tr>
							<th>10</th>
							<td>Posebni zahtevi</td>
							<td>
								{{ ugovor.komitent('posebni_zahtevi_kom').naziv == 'Bez komitenta' ? '' : ugovor.komitent('posebni_zahtevi_kom').naziv }}
							</td>
							<td class="text-center">
								{{ (ugovor.posebni_zahtevi_chk == 1) ? '<i class=\"fas fa-check text-success\"></i>' : '' }}
							</td>
							<td>{{ ugovor.posebni_zahtevi_opis }}</td>
							<td class="text-success">{{ ugovor.posebni_zahtevi_iznos|number_format() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock sadrzaj %}
{% block traka %}
<div class="card border-dark mb-3">
	<div class="card-header">
		<h4 class="text-primary">Aneks ugovora</h4>
	</div>
	<div class="card-body text-dark">
		<form id="aneks-forma" action="{{ path_for('ugovor.dopuna.aneks') }}" method="POST" class="needs-validation"
			novalidate>
			{{ csrf|raw }}
			<input type="hidden" id="ugovor_id" name="ugovor_id" value="{{ ugovor.id }}">
			<div class="form-row">
				<div class="col-md-6 form-group">
					<label for="aneks_broj_mesta">Broj mesta</label>
					<input type="number" value="{{ old.aneks_broj_mesta ? : ugovor.broj_mesta }}"
						class="form-control{{ errors.aneks_broj_mesta[0] ? ' is-invalid' : '' }}" min="1" step="1"
						name="aneks_broj_mesta" id="aneks_broj_mesta" required>
					<div class="valid-feedback">Odgovarajući podatak</div>
					<div class="invalid-feedback">{{ errors.aneks_broj_mesta[0] ? : 'Obavezno polje' }}</div>
				</div>
				<div class="col-md-6 form-group">
					<label for="aneks_iznos_meni">Iznos za menije</label>
					<input type="number" value="{{ old.aneks_iznos_meni ? : ugovor.iznos_meni }}"
						class="form-control{{ errors.aneks_iznos_meni[0] ? ' is-invalid' : '' }}" step="0.01"
						name="aneks_iznos_meni" id="aneks_iznos_meni" required>
					<div class="valid-feedback">Odgovarajući podatak</div>
					<div class="invalid-feedback">{{ errors.aneks_iznos_meni[0] ? : 'Obavezno polje' }}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 form-group">
					<label for="aneks_iznos_dodatno">Iznos za dodatne usluge</label>
					<input type="number" value="{{ old.aneks_iznos_dodatno ? : ugovor.iznos_dodatno }}"
						class="form-control{{ errors.aneks_iznos_dodatno[0] ? ' is-invalid' : '' }}" step="0.01"
						name="aneks_iznos_dodatno" id="aneks_iznos_dodatno" required>
					<div class="valid-feedback">Odgovarajući podatak</div>
					<div class="invalid-feedback">{{ errors.aneks_iznos_dodatno[0] ? : 'Obavezno polje' }}</div>
				</div>
				<div class="col-md-6 form-group">
					<label for="aneks_iznos_sobe">Iznos za sobe</label>
					<input type="number" value="{{ old.aneks_iznos_sobe ? : ugovor.iznos_sobe }}"
						class="form-control{{ errors.aneks_iznos_sobe[0] ? ' is-invalid' : '' }}" step="0.01"
						name="aneks_iznos_sobe" id="aneks_iznos_sobe" required>
					<div class="valid-feedback">Odgovarajući podatak</div>
					<div class="invalid-feedback">{{ errors.aneks_iznos_sobe[0] ? : 'Obavezno polje' }}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-0"></div>
				<div class="col-md-6 form-group text-right mb-0">
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-plus-square"></i> Dodaj
					</button>
					<button type="reset" class="btn btn-secondary" id="otkazi-validation">
						<i class="fas fa-ban"></i> Otkaži
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock traka %}
{% block skripta %}
<script>
	$(document).ready(function () {

		$("#meni_id").change(() => {
			$("#meni_id").removeClass("is-invalid");
			$("#meni_cena").val(Number($("#meni_id").find(':selected').data("cena")));
		});

		$("#soba_id").change(() => {
			$("#soba_id").removeClass("is-invalid");
			$("#soba_cena").val(Number($("#soba_id").find(':selected').data("cena")));
		});

		$(".otvori-brisanje-dokumenta").on("click", function () {
			var id = $(this).data("id");
			$("#modal_dokument_id").val(id);
		});

		$(".otvori-brisanje-menija").on("click", function () {
			var id = $(this).data("id");
			$("#idBrisanjeMenija").val(id);
		});

		$(".otvori-brisanje-sobe").on("click", function () {
			var id = $(this).data("id");
			$("#idBrisanjeSobe").val(id);
		});

		$(document).on('click', '.otvori-uplatu', function () {
			var id = $(this).data("id");
			$('#idUgovora').val(id);
		});

		$("#dokument").on("change", function () {
			$("#file-label").text(this.files[0].name);
		});

		$("#otkazi-validation").on("click", function () {
			$("#dokument-forma").removeClass("was-validated");
		});

	});

	$(document).on('click', '.otvori-izmenu-dokumenta', function () {

		var csrfName = $(".csrf_name").val();
		var csrfValue = $(".csrf_value").val();
		var id = $(this).data("id");

		var csrfAndData = {
			"csrf_name": csrfName,
			"csrf_value": csrfValue,
			"id": id
		};

		var ruta = ["{{ path_for('dokument.detalj') }}"];

		$.ajax({
			url: ruta,
			type: "POST",
			data: csrfAndData,
			success: function (data) {
				$(".csrf_name").val(data.cname);
				$(".csrf_value").val(data.cvalue);
				$("#idIzmenaDokumenta").val(data.dokument.id);
				$("#opisModal").val(data.dokument.opis);
			}
		});

	});

	(function () {
		"use strict";
		window.addEventListener(
			"load",
			function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName("needs-validation");
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener(
						"submit",
						function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add("was-validated");
						},
						false
					);
				});
			},
			false
		);
	})();
</script>
{% endblock skripta %}
