{% extends "templates/app.twig" %}
{% block stil %}
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
</style>
{% endblock stil %}

{% block naslov %}
<div class="row">
  <div class="col">
    <h1>
      <i class="fas fa-file-signature text-secondary"></i> Izmena ugovora
    </h1>
  </div>
</div>
<hr />
{% endblock naslov %}
{% block sadrzaj %}
<div class="card border-dark mb-3">
  <div class="card-header text-primary">
    <h5>
      Termin: {{ termin.datum|date() }} od {{ termin.pocetak|date("H:i") }} do {{ termin.kraj|date("H:i") }} -
      {{termin.tip.tip}} [{{ termin.opis }}]
    </h5>
  </div>
  <div class="card-body text-dark">
    <form id="glavna" action="{{ path_for('termin.ugovor.izmena.post') }}" method="POST" class="needs-validation"
      id="forma" novalidate>
      {{ csrf | raw }}
      <input type="hidden" name="id" value="{{ ugovor.id }}">
      <input type="hidden" name="termin_id" value="{{ termin.id }}">
      <div class="form-row">
        <div class="col">
          <i class="fas fa-file-contract fa-lg text-info"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="broj_ugovora">Broj ugovora</label>
          <input type="text" name="broj_ugovora" id="broj_ugovora" autocomplete="off"
            class="form-control{{ errors.broj_ugovora[0] ? ' is-invalid' : '' }}"
            value="{{ old.broj_ugovora ? : ugovor.broj_ugovora }}" maxlength="50" />
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.broj_ugovora[0] ? : 'Maksimalno 50 karaktera' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="datum">Datum sklapanja ugovora</label>
          <input name="datum" type="date" id="datum" class="form-control{{ errors.datum[0] ? ' is-invalid' : '' }}"
            value="{{ old.datum ? : ugovor.datum }}" />
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.datum[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <i class="fas fa-user fa-lg text-info"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="ime">Ime</label>
          <input type="text" class="form-control{{ errors.ime[0] ? ' is-invalid' : '' }}"
            value="{{ old.ime ? : ugovor.ime }}" name="ime" id="ime" autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.ime[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="prezime">Prezime</label>
          <input type="text" class="form-control{{ errors.prezime[0] ? ' is-invalid' : '' }}"
            value="{{ old.prezime ? : ugovor.prezime }}" name="prezime" id="prezime" autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.prezime[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="telefon">Telefon</label>
          <input type="text" class="form-control{{ errors.telefon[0] ? ' is-invalid' : '' }}"
            value="{{ old.telefon ? : ugovor.telefon }}" name="telefon" id="telefon" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.telefon[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="email">E-mail</label>
          <input type="email" class="form-control{{ errors.email[0] ? ' is-invalid' : '' }}"
            value="{{ old.email ? : ugovor.email }}" name="email" id="email" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.email[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="mesto_firme">Mesto</label>
          <input type="mesto_firme" class="form-control{{ errors.mesto_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.mesto_firme ? : ugovor.mesto_firme }}" name="mesto_firme" id="mesto_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.mesto_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-6">
          <label for="adresa_firme">Adresa</label>
          <input type="text" class="form-control{{ errors.adresa_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.adresa_firme ? : ugovor.adresa_firme }}" name="adresa_firme" id="adresa_firme"
            autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.adresa_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3 text-right">
          Pravno lice<br>
          <label class="mt-">
            <input type="checkbox" name="fizicko_pravno" id="fizicko_pravno" title="Fizičko ili pravno lice"
              {{ ugovor.fizicko_pravno == 1 ? ' checked' : '' }}>
          </label>
        </div>
      </div>
      <hr>
      <div class="form-row fizicko_pravno" style="display: none;">
        <div class="col-md-3">
          <i class="fas fa-industry text-info"></i>
        </div>
      </div>
      {# Pravno I #}
      <div class="form-row fizicko_pravno" style="display: none;">
        <div class="form-group col-md-6">
          <label for="naziv_firme">Naziv firme</label>
          <input type="text" class="form-control{{ errors.naziv_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.naziv_firme ? : ugovor.naziv_firme }}" name="naziv_firme" id="naziv_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.naziv_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="pib_firme">PIB</label>
          <input type="text" class="form-control{{ errors.pib_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.pib_firme ? : ugovor.pib_firme }}" name="pib_firme" id="pib_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.pib_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="mb_firme">Matični broj</label>
          <input type="text" class="form-control{{ errors.mb_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.mb_firme ? : ugovor.mb_firme }}" name="mb_firme" id="mb_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.mb_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      {# Pravno II #}
      <div class="form-row fizicko_pravno" style="display: none;">
        <div class="form-group col-md-3">
          <label for="banka_firme">Banka</label>
          <input type="text" class="form-control{{ errors.banka_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.banka_firme ? : ugovor.banka_firme }}" name="banka_firme" id="banka_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.banka_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="racun_firme">Račun</label>
          <input type="racun_firme" class="form-control{{ errors.racun_firme[0] ? ' is-invalid' : '' }}"
            value="{{ old.racun_firme ? : ugovor.racun_firme }}" name="racun_firme" id="racun_firme" autocomplete="off">
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.racun_firme[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      <hr class="fizicko_pravno" style="display: none;">
      <div class="form-row">
        <div class="col">
          <i class="fas fa-chair fa-lg text-info"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="broj_mesta">Broj mesta (zvanica)</label>
          <input type="number" class="form-control{{ errors.broj_mesta[0] ? ' is-invalid' : '' }}" name="broj_mesta"
            id="broj_mesta" value="{{ old.broj_mesta ? : ugovor.broj_mesta }}" min="1" step="1" autocomplete="off"
            title="Broj mesta" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.broj_mesta[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="broj_mesta_po_stolu">Broj stolica za stolom</label>
          <input type="number" class="form-control{{ errors.broj_mesta_po_stolu[0] ? ' is-invalid' : '' }}"
            name="broj_mesta_po_stolu" id="broj_mesta_po_stolu"
            value="{{ old.broj_mesta_po_stolu ? : ugovor.broj_mesta_po_stolu }}" min="1" step="1" autocomplete="off"
            required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.broj_mesta[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="broj_stolova">Broj stolova</label>
          <div class="input-group">
            <input type="number" class="form-control{{ errors.broj_stolova[0] ? ' is-invalid' : '' }}"
              name="broj_stolova" id="broj_stolova" value="{{ old.broj_stolova ? : ugovor.broj_stolova }}" min="1"
              step="1" autocomplete="off" required>
            <div class="input-group-append">
              <button class="btn btn-success" title="Proračun broja stolova" id="proracun-stolova">
                <i class="fas fa-calculator"></i>
              </button>
            </div>
          </div>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.broj_stolova[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="iznos_meni" class="text-success">Ukupan iznos za meni</label>
          <input type="number" class="form-control{{ errors.iznos_meni[0] ? ' is-invalid' : '' }} dodatna"
            name="iznos_meni" id="iznos_meni" value="{{ old.iznos_meni ? : ugovor.iznos_meni }}" min="0" step="0.01"
            autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.iznos_meni[0] ? : 'Obavezno polje' }}</div>
        </div>
        <div class="form-group col-md-3">
          <label for="iznos_sobe" class="text-success">Ukupan iznos za sobe</label>
          <input type="number" class="form-control{{ errors.iznos_sobe[0] ? ' is-invalid' : '' }} dodatna"
            name="iznos_sobe" id="iznos_sobe" value="{{ old.iznos_sobe ? : ugovor.iznos_sobe }}" min="0" step="0.01"
            autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">{{ errors.iznos_sobe[0] ? : 'Obavezno polje' }}</div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col">
          <label for="napomena">Napomena</label>
          <textarea class="form-control" name="napomena" id="napomena"
            rows="3">{{ old.napomena ?  : ugovor.napomena }}</textarea>
        </div>
      </div>

      <hr>
      <div class="form-row justify-content-between mt-2">
        <div class="col-12 text-right align-self-end">
          <button type="submit" id="dugme-submit" class="btn btn-primary" title="Snimi izmene"><i
              class="fas fa-save"></i> Snimi</button>
          <a href="{{ path_for('termin.detalj.get', { id: termin.id }) }}" class="btn btn-secondary">
            <i class="fas fa-ban"></i> Otkaži</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock sadrzaj %}
{% block traka %}
<div class="card border-dark">
  <div class="card-header">
    <h5 class="text-primary">Kapacitet i kalkulacije</h5>
  </div>
  <div class="card-body text-dark">
    <div class="row">
      <div class="col">
        <h5 class="text-primary">Kapacitet sale (mesta i stolovi)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li>Maksimalni kapacitet sale (stolovi) : <strong
              class="text-info">{{ termin.sala().max_kapacitet_stolova }}</strong></li>
          <li>Maksimalni kapacitet sale (zvanice) : <strong
              class="text-info">{{ termin.sala().max_kapacitet_mesta }}</strong></li>
          <li>Iskorišćeno stolova : <strong class="text-info">{{ termin.popunjeniStolovi() }}</strong></li>
          <li>Iskorišćeno zvanica : <strong class="text-info">{{ termin.popunjenaMesta() }}</strong></li>
        </ul>
        <ul class="mb-1">
          <li>Slobodnih stolova : <strong class="text-success">{{ termin.slobodniStolovi() }}</strong></li>
          <li>Slobodnih mesta za zvanice : <strong class="text-success">{{ termin.slobodnaMesta() }}</strong></li>
        </ul>
      </div>
    </div>
    <hr>

    <div class="row mb-2">
      <div class="col">
        <h5 class="text-primary">Predlog broja stolova</h5>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="stolovi">Popunjeni stolovi</label>
        <input type="number" class="form-control" name="stolovi" id="stolovi" min="0" step="1" value="0" readonly>
      </div>
      <div class="form-group col-lg-6">
        <label for="stolice">Stolice za popunjenim stolovima</label>
        <input type="number" class="form-control" name="stolice" id="stolice" min="0" step="1" value="0" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6 ekstra_stolice">
        <label for="ekstra_stolice">Stolice za dodatnim stolom</label>
        <input type="number" class="form-control" name="ekstra_stolice" id="ekstra_stolice" min="0" step="1" value="0"
          readonly>
      </div>
      <div class="form-group col-lg-6">
        <label for="ukupno_stolova" class="text-success">Ukupan broj stolova</label>
        <input type="number" class="form-control" name="ukupno_stolova" id="ukupno_stolova" min="0" step="1" value="0"
          readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="greske" class="text-danger">Greške u proračunu broja mesta i stolova</label>
        <textarea class="form-control text-danger" name="greske" id="greske" rows="5" readonly></textarea>
      </div>
    </div>
  </div>
</div>
{% endblock traka %}
{% block skripta %}
<script>
  $(document).ready(function () {
    const m = "{{ termin.multiUgovori() == true ? 1 : 0 }}";
    const multi = (parseInt(m) === 1) ? true : false;

    const maxStolova = parseInt("{{ termin.sala().max_kapacitet_stolova }}");
    const maxMesta = parseInt("{{ termin.sala().max_kapacitet_mesta }}");

    const pocetnaMesta = parseInt("{{ ugovor.broj_mesta ? : 0 }}");
    const pocetniStolovi = parseInt("{{ ugovor.broj_stolova ? : 0 }}");
    const pocetneStolice = parseInt("{{ ugovor.broj_mesta_po_stolu ? : 0 }}");

    const slobodnaMesta = parseInt("{{ termin.slobodnaMesta() }}") + pocetnaMesta;
    const slobodniStolovi = parseInt("{{ termin.slobodniStolovi() }}") + pocetniStolovi;

    var provera = true;
    var izvrsiProracun = true;


    // NOVO
    $("#izracunaj-dodatno").click(() => {
      let ukupno = Number($("#muzika_iznos").val()) +
        Number($("#fotograf_iznos").val()) +
        Number($("#torta_iznos").val()) +
        Number($("#dekoracija_iznos").val()) +
        Number($("#kokteli_iznos").val()) +
        Number($("#slatki_sto_iznos").val()) +
        Number($("#vocni_sto_iznos").val()) +
        Number($("#animator_iznos").val()) +
        Number($("#trubaci_iznos").val()) +
        Number($("#posebni_zahtevi_iznos").val());

      $("#iznos_dodatno").val(ukupno);
    });

    $("#proracun-stolova").click((event) => {
      event.preventDefault();
      proveriMatematiku();
      izracunajRaspodelu();
      if (izvrsiProracun) {
        $("#broj_mesta_po_stolu").val($("#stolice").val());
        $("#broj_stolova").val($("#ukupno_stolova").val());
        proveriMatematiku();
      }
    });
    // NOVO

    $('#cekiraj_sve').click(function () {
      $(':checkbox.cekiraj').not(this).prop('checked', this.checked);
    });

    $('#fizicko_pravno').click(function () {
      $('.fizicko_pravno').toggle(this.checked);
    });

    function proveriMatematiku() {
      const bm = $('#broj_mesta').val();
      const bss = $('#broj_mesta_po_stolu').val();
      const bs = $('#broj_stolova').val();

      let brojMesta = (bm === "") ? 0 : parseInt(bm);
      let brojStolica = (bss === "") ? 0 : parseInt(bss);
      let brojStolova = (bs === "") ? 0 : parseInt(bs);

      provera = true;
      let proveraTekst = "";

      if (brojMesta === 0 || brojStolica === 0) {
        provera = false;
        izvrsiProracun = false;
        proveraTekst = "Morate uneti broj mesta(zvanica) i broj stolica po stolu da bi se izračunao broj stolova!";
      } else {
        izvrsiProracun = true;
        const razlika = (brojStolica * brojStolova) - brojMesta;

        if (brojMesta > slobodnaMesta) {
          provera = false;
          proveraTekst += "Broj zvanica je veci od broja slobodnih mesta!\n";
        }

        if (brojStolova > slobodniStolovi) {
          provera = false;
          proveraTekst += "Broj stolova je veci od broja slobodnih stolova!\n";
        }

        if (razlika < 0) {
          provera = false;
          proveraTekst += `Broj zvanica je (za ${razlika * -1}) veci od broja mesta za stolovima!\n`;
        }

        if (razlika >= brojStolica) {
          provera = false;
          proveraTekst += "Broj stolova je veci od potrebnog za uneti broj zvanica!\n";
        }
      }

      if (!provera) {
        $("#greske").text(proveraTekst);
      } else {
        $("#greske").text("");
      }
    }

    function izracunajRaspodelu() {
      if (!izvrsiProracun) {
        return false;
      }
      const minStolicaSingle = 8; // min stolica po stolu za single ugovor
      const minStolicaMulti = 10; // min stolica po stolu za multi ugovor
      const optStolica = 12; // optimalno stolica po stolu
      const maxStolicaSingle = 12; // max stolica po stolu
      const maxStolicaMulti = 13; // max stolica po stolu

      const bm = $('#broj_mesta').val();
      const bss = $('#broj_mesta_po_stolu').val();
      const bs = $('#broj_stolova').val();

      let brojMesta = (bm === "") ? 0 : parseInt(bm);
      let brojStolica = (bss === "") ? 0 : parseInt(bss);

      let predlogStolica = 0;
      let predlogStolova = 0;
      let stolovi = 0;
      let stoPlus = 0;
      let ostatak = 0;

      if (multi) // PRORACUN MESTA ZA VISE UGOVORA
      {
        stolovi = Math.floor(brojMesta / brojStolica);
        ostatak = brojMesta - (stolovi * brojStolica);
        if (ostatak > 0 && ostatak <= stolovi && brojStolica < maxStolicaMulti) {
          const tmpStolice = brojStolica + 1;
          const tmpStolovi = Math.floor(brojMesta / tmpStolice);
          if (tmpStolovi < stolovi) {
            alert("Moguće je smanjiti broj stolova dodavanjem još jednog mesta za stolom.");
          }
        }
        if (ostatak > 0) {
          stoPlus = 1;
        }
      }
      else // PRORACUN MESTA ZA JEDAN UGOVOR
      {
        stolovi = Math.floor(brojMesta / brojStolica);
        ostatak = brojMesta - (stolovi * brojStolica);
        if (ostatak > 0) {
          stoPlus = 1;
        }
      }

      $("#stolovi").val(stolovi);
      $("#stolice").val(brojStolica);
      $("#ekstra_stolice").val(ostatak);
      $("#ukupno_stolova").val(stolovi + stoPlus);
    }

    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false || !provera) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  });
</script>
{% endblock skripta %}
