{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row mt-md-2">
  <div class="col">
   <h1>
      <i class="fas fa-file-signature text-secondary"></i> Pregled ugovora
    </h1>
    {% if data %}
    <small><em class="text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="text-success">[svi ugovori]</em></small>
    {% endif %}
  </div>
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group mt-3">
      <button type="button" class="btn btn-success btn-sm" id="prikazi" title="Prikaži formu za filtriranje">
        <i class="fas fa-filter"></i> Filter</button>
      <a href="{{ path_for('vlasnik.ugovori') }}" class="btn btn-secondary btn-sm pretraga_div"><i class="fas fa-file-signature"></i> Svi ugovori</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="text-warning text-right"><i class="fas fa-user-secret"></i></h5>
  </div>
</div>
<hr />
<div class="card border-dark mb-3 pretraga_div" style="display: none;">
    <div class="card-header">Filtriranje ugovora</div>
    <div class="card-body text-dark">
    <form action="{{ path_for('vlasnik.ugovori.pretraga') }}" method="POST">
        {{ csrf|raw }}
        <div class="form-row">
        <div class="form-group col-md-2">
        <label for="broj_ugovora">Broj ugovora: </label>
        <input type="text" name="broj_ugovora" id="broj_ugovora" class="form-control"
            value="{{ data.broj_ugovora }}" autocomplete="off" placeholder="... broj ugovora">
        </div>
        <div class="form-group col-md-2">
          <label for="ime">Ime: </label>
          <input type="text" name="ime" id="ime" class="form-control"
            value="{{ data.ime }}" autocomplete="off" placeholder="... ime">
        </div>
        <div class="form-group col-md-2">
          <label for="prezime">Prezime: </label>
          <input type="text" name="prezime" id="prezime" class="form-control"
            value="{{ data.prezime }}" autocomplete="off" placeholder="... prezime">
        </div>
        <div class="form-group col-md-2">
          <label for="tip">Datum (od): </label>
          <input type="date" name="datum_1" id="datum_1" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="tip">Datum (do): </label>
          <input type="date" name="datum_2" id="datum_2" class="form-control">
        </div>
        </div>

        <div class="form-row">
        <div class="form-group col-md-2">
        <label for="email">E-mail: </label>
        <input type="text" name="email" id="email" class="form-control"
            value="{{ data.email }}" autocomplete="off" placeholder="... email">
        </div>
        <div class="form-group col-md-2">
          <label for="telefon">Telefon: </label>
          <input type="text" name="telefon" id="telefon" class="form-control"
            value="{{ data.telefon }}" autocomplete="off" placeholder="... telefon">
        </div>
        <div class="form-group col-md-2">
          <label for="napomena">Napomena: </label>
          <input type="text" name="napomena" id="napomena" class="form-control"
            value="{{ data.napomena }}" autocomplete="off" placeholder="... napomena">
        </div>
        <div class="form-group col-md-4 px-5">
              <small class="text-warning">
                    Ako se unese samo prvi datum pretraga će se vršiti za ugovore sa tim datumom. Ako se unesu oba datuma pretraga će se vršiti za ugovore između ta dva datuma.
              </small>
        </div>
        <div class="col-md-2 text-right mt-4">
        <div class="btn-group">
          <button type="submit" class="btn btn-success btn-sm">
          <i class="fas fa-filter"></i> Filtriraj
          </button>
            <a href="{{ path_for('vlasnik.ugovori') }}" class="btn btn-secondary btn-sm"><i class="fas fa-file-signature"></i> Svi ugovori</a>
        </div>
        </div>
        </div>
    </form>
  </div>
</div>
<div class="table-responsive">
<table class="table table-sm table-striped" style="font-size: 0.875rem;">
  <thead class="thead-dark">
    <tr>
      <th class="w-5" scope="col">ID</th>
      <th class="w-8" scope="col">Broj</th>
      <th class="w-12" scope="col">Termin</th>
      <th class="w-10" scope="col">Iznos</th>
      <th class="w-10" scope="col">Kapara</th>
      <th class="w-10" scope="col">Ime i prezime</th>
      <th class="w-10" scope="col">Telefon</th>
      <th class="w-10" scope="col">E-mail</th>
      <th class="w-10" scope="col">Mesta</th>
      <th class="w-10" scope="col">Datum</th>
      <th class="w-5" scope="col" style="text-align:right;"><i class="fas fa-cogs text-warning"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for ugovor in ugovori.data %}
    <tr>
      <th scope="row" class="text-danger">{{ ugovor.id }}</th>
      <td><strong>{{ ugovor.broj_ugovora }}</strong></td>
      <td><small><a href="{{path_for('vlasnik.termin', { id: ugovor.termin.id })}}">
        ({{ ugovor.termin().datum|date('d.m.Y') }}) {{ ugovor.termin().opis }}</a></small></td>
      <td class="text-info"><strong>{{ ugovor.iznos | number_format(2, '.', ',') }}</strong></td>
      <td class="text-success"><strong>{{ ugovor.kapara | number_format(2, '.', ',') }}</strong></td>
      <td>{{ ugovor.ime }} {{ ugovor.prezime }}</td>
      <td>{{ ugovor.telefon }}</td>
      <td><a href="mailto:{{ ugovor.email }}">{{ ugovor.email }}</a></td>
      <td>{{ ugovor.broj_mesta }} ({{ ugovor.broj_stolova }}/{{ ugovor.broj_mesta_po_stolu }})</td>
      <td>{{ ugovor.datum|date('d.m.Y') }}</td>
      <td style="text-align:right;">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-success btn-sm" href="{{ path_for('vlasnik.ugovor.detalj', { id: ugovor.id }) }}" title="Detaljni pregled odabranog ugovora"><i
              class="fas fa-eye"></i></a>
          <a class="btn btn-info btn-sm"
        href="{{ path_for('vlasnik.uplate', { id: ugovor.id }) }}"
        class="btn btn-success"
        ><i class="fas fa-money-bill"></i></a
      >
        </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row mobilni">
  <nav class="col">
    <ul class="pagination pagination-sm">
      {% for button in ugovori.links.buttons %}
      <li class="page-item{{ button.current ? ' active' : '' }}">
        <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <p class="col justify-content-end text-right text-info"><strong>
      Prikazani redovi od
      <em>{{ ugovori.links.row_from }}</em> do
      <em>{{ ugovori.links.row_to }}</em> od ukupno
      <em>{{ ugovori.links.total_rows }}</em>
    </strong>
  </p>
</div>
{% endblock naslov %}
{% block skripta %}
  <script>
    $(document).ready(function () {

    $('#prikazi').click(function () {
        $('.pretraga_div').toggle();
    });

    });
  </script>
{% endblock skripta %}
