{% extends "templates/app.twig" %}
{% block stil %}
<style>
  .btn-sm {
    margin-top: .25rem;
  }

  @media (max-width: 575.98px) {
    .mobilni {
      font-size: 0.75rem !important;
    }

    .btn,
    .btn-sm {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .5;
      border-radius: .2rem;
    }

    h3 {
      font-size: 1.25rem !important;
    }
  }
</style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-2 ne_stampaj">
  <div class="col d-none d-sm-flex">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled menija</h1>
  </div>
  <div class="col d-sm-none">
    <h4>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled menija</h4>
  </div>
  <div class="col text-right mt-3">
    <div class="btn-group">
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm" title="Povratak na tabelarni prikaz menija">
        <i class="fas fa-drumstick-bite"></i> Svi meniji
      </a>
      <button type="button" class="btn btn-primary btn-sm" title="Štampanje menija" onclick="window.print();">
        <i class="fas fa-print"></i> Štampaj</button>
    </div>
  </div>
</div>

<hr class="ne_stampaj" />
<div class="row text-center">
  <div class="col">
    <h2 class="text-primary text-uppercase">&emsp;{{ meni.naziv }}</h2>
  </div>
</div>
<div class="row ne_stampaj">
  <div class="col">
    <h3><span class="badge badge-success">{{ meni.cena|number_format() }} din</span></h3>
  </div>
</div>
<hr class="mb-5">
<div class="row justify-content-center mobilni dve_kolone">
  <div class="col-md-5 bg-light text-dark">
  {% for kat in kategorije %}
  {% if loop.index is odd %}
    <h3 class="font-italic">{{ kat.kategorija }}</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    <ul>
      {% for stavka in meni.stavke(kat.kategorija) %}
      <li>{{ stavka.naziv }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endfor %}
  </div>
    <div class="col-md-5 bg-light text-dark">
  {% for kat in kategorije %}
  {% if loop.index is even %}
    <h3 class="font-italic">{{ kat.kategorija }}</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    <ul>
      {% for stavka in meni.stavke(kat.kategorija) %}
      <li>{{ stavka.naziv }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endfor %}
  </div>
</div>
<div class="row mt-5 justify-content-center mobilni ne_stampaj">
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header">Napomena:</div>
      <div class="card-body text-primary">
        <p class="card-text font-italic">{{ meni.napomena|nl2br }}</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock naslov %}
