{% extends "templates/app.twig" %}
{% block stil %}
  <style>
  .btn-sm{
    margin-top: .25rem;
  }
  @media (max-width: 575.98px) {
  .mobilni{
    font-size: 0.75rem !important;
  }
  .btn, .btn-sm{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  textarea { font-size: 0.75rem !important; }
  }
  </style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-5">
  <div class="col d-none d-sm-flex">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Izmena podataka
      menija
    </h1>
  </div>
    <div class="col d-sm-none">
    <h4>
      <i class="fas fa-drumstick-bite text-secondary"></i> Izmena podataka
      menija
    </h4>
  </div>
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group">
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        onclick="window.history.back();"
        title="Povratak na prethodnu stranu"
      >
        <i class="fas fa-chevron-circle-left"></i> Nazad
      </button>
      <a
        href="{{ path_for('meni') }}"
        class="btn btn-secondary btn-sm"
        title="Povratak na tabelarni prikaz menija"
        ><i class="fas fa-drumstick-bite"></i> SVI meniji</a
      >
    </div>
  </div>
</div>
<hr />
<div class="card border-dark mb-3">
  <div class="card-header text-primary">
    * Ako navodite više stavki u nekoj od kategorija razdvojite ih zarezom.
  </div>
  <div class="card-body text-dark mobilni">
    <form
      action="{{ path_for('meni.izmena.post') }}"
      method="POST"
      class="needs-validation"
      novalidate
    >
      {{ csrf | raw }}
      <input type="hidden" name="id" id="id" value="{{ meni.id }}" required />
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="naziv">Naziv</label>
          <input
            type="text"
            class="form-control{{ errors.naziv[0] ? ' is-invalid' : '' }}"
            value="{{ old.naziv ? : meni.naziv }}"
            name="naziv"
            id="naziv"
            aria-describedby="naziv sale"
            required
          />
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">
            {{ errors.naziv[0] ? : 'Obavezno polje sa najmanje 5 karaktera' }}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="cena">Cena</label>
          <input
            type="number"
            class="form-control{{ errors.cena[0] ? ' is-invalid' : '' }}"
            name="cena"
            id="cena"
            value="{{ old.cena ? : meni.cena }}"
            min="0"
            step="0.01"
            autocomplete="off"
            required
          />
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">
            {{ errors.cena[0] ? : 'Obavezno polje' }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="napomena">Napomena</label>
          <textarea
            class="form-control"
            name="napomena"
            id="napomena"
            rows="3"
            >{{ old.napomena ? : meni.napomena }}</textarea
          >
        </div>
      </div>
      <hr />
      <div class="form-row">
        <div class="col">
          <label for="hleb"
            ><i class="fas fa-bread-slice fa-lg text-warning"></i>&emsp;<strong
              >Hleb</strong
            ></label
          >
          <textarea
            class="form-control"
            name="hleb"
            id="hleb"
            rows="3"
            >{{ old.hleb ? : meni.hleb }}</textarea
          >
        </div>
        <div class="col">
          <label for="hladno_predjelo"
            ><i class="fas fa-bacon fa-lg text-warning"></i>&emsp;<strong
              >Hladno predjelo</strong
            ></label
          >
          <textarea
            class="form-control"
            name="hladno_predjelo"
            id="hladno_predjelo"
            rows="3"
            >{{ old.hladno_predjelo ? : meni.hladno_predjelo }}</textarea
          >
        </div>
        <div class="col">
          <label for="sirevi"
            ><i class="fas fa-cheese fa-lg text-warning"></i>&emsp;<strong
              >Sirevi</strong
            ></label
          >
          <textarea
            class="form-control"
            name="sirevi"
            id="sirevi"
            rows="3"
            >{{ old.sirevi ? : meni.sirevi }}</textarea
          >
        </div>
      </div>
      <div class="form-row">
        <div class="col mt-2">
          <label for="corba"
            ><i class="fas fa-utensil-spoon fa-lg text-warning"></i
            >&emsp;<strong>Čorba</strong></label
          >
          <textarea
            class="form-control"
            name="corba"
            id="corba"
            rows="3"
            >{{ old.corba ? : meni.corba }}</textarea
          >
        </div>
        <div class="col mt-2">
          <label for="glavno_jelo"
            ><i class="fas fa-utensils fa-lg text-warning"></i>&emsp;<strong
              >Glavno jelo</strong
            ></label
          >
          <textarea
            class="form-control"
            name="glavno_jelo"
            id="glavno_jelo"
            rows="3"
            >{{ old.glavno_jelo ? : meni.glavno_jelo }}</textarea
          >
        </div>
        <div class="col mt-2">
          <label for="meso"
            ><i class="fas fa-drumstick-bite fa-lg text-warning"></i
            >&emsp;<strong>Meso</strong></label
          >
          <textarea
            class="form-control"
            name="meso"
            id="meso"
            rows="3"
            >{{ old.meso ? : meni.meso }}</textarea
          >
        </div>
      </div>
      <div class="form-row justify-content-between mt-2">
        <div class="col-4">
          <label for="karta_pica"
            ><i class="fas fa-wine-glass fa-lg text-warning"></i>&emsp;<strong
              >Karta pića</strong
            ></label
          >
          <textarea
            class="form-control"
            name="karta_pica"
            id="karta_pica"
            rows="3"
            >{{ old.karta_pica ? : meni.karta_pica }}</textarea
          >
        </div>
        <div class="col-4 text-right align-self-end">
          <button type="submit" class="btn btn-warning" title="Izmeni meni">
            <i class="fas fa-save"></i>&emsp;Snimi
          </button>
          <a href="{{ path_for('meni') }}" class="btn btn-secondary"
            ><i class="fas fa-ban"></i>&emsp;Otkaži</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock naslov %} {% block skripta %}
<script type="text/javascript">
  $(document).ready(function() {
    (function() {
      "use strict";
      window.addEventListener(
        "load",
        function() {
          var forms = document.getElementsByClassName("needs-validation");
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener(
              "submit",
              function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false
            );
          });
        },
        false
      );
    })();
  });
</script>
{% endblock skripta %}
