{% extends "templates/app.twig" %} {% block stil %} {% endblock stil %} {% block
naslov %}
<div class="row ne_stampaj">
  <div class="col">
    <h1>
      <i class="fas fa-calendar-check text-secondary"></i>
      Pregled termina -
      <small>[
        <i class="{{ termin.statusIkonica() }}"></i>

        <span>
          {% if termin.status() == 0 %} Termin u pripremi {% endif %} 
          {% if termin.status() == 1 %} Zaključen termin {% endif %} 
          {% if termin.status() == 2 %} Informacija o terminu {% endif %}
        </span>

        ]</small>
    </h1>
  </div>
  <div class="col text-right">
    <div class="btn-group btn-group-sm mt-3">
      <a href="#" class="btn btn-secondary" onclick="window.history.back();"><i class="fas fa-chevron-circle-left"></i>
        Nazad</a>
      <a href="{{ path_for('osoblje.kalendar', { datum: termin.datum }) }}" class="btn btn-secondary"><i
          class="fas fa-arrow-alt-circle-left"></i> Termini</a>
      <button type="button" class="btn btn-primary btn-sm" title="Štampanje detalja termina" onclick="window.print();">
      <i class="fas fa-print"></i> Štampaj</button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
<div class="alert alert-dark" role="alert">
  <h5>Detalji o terminu:&emsp;
    {{ termin.tip().tip }} u {{ termin.sala().naziv }} na dan
    <span class="text-danger">{{ termin.datum|date() }}</span> od {{ termin.pocetak|date("H:i") }} do
    {{ termin.kraj|date("H:i") }}.
    {% if termin.opis %}<span> Opis: {{ termin.opis }}.</span> {% endif %}
    {% if termin.napomena %}<span class="font-italic">({{ termin.napomena | nl2br }})</span> {% endif %}
  </h5>
</div>
</div>
</div>

<div class="row">
  <div class="col align-self-center">
    <h3 class="text-primary p-4 text-center">
      <i class="fas fa-users"></i> Ukupan broj zvanica: {{ termin.popunjenaMesta() }}
    </h3>
  </div>
    <div class="col">
    <h3 class="text-primary p-4">
      <i class="fas fa-birthday-cake"></i> Pregled dodatnih usluga po ugovorima
    </h3>
    {% for ugovor in ugovori %}
  <h4>Ugovor - 
      <strong class="text-info">{{ ugovor.broj_ugovora }}</strong>
      <small class="font-italic">(od {{ ugovor.datum|date() }})</small></h4>
      <div class="row mt-3">
        <div class="col-md-4">
      <ul>
        {% for udodatna in ugovor.dodatneUsluge() %}
        <li><strong>{{ udodatna.komitent().kategorija().naziv }}</strong>&emsp;{{ udodatna.komitent.naziv }}</li>
        {% endfor %}
      </ul>
      </div>
      </div>
      <hr style="border-top: 1px dotted #8c8b8b">
{% endfor %}
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col">
    <h4>
      Detaljni pregled menija koje je potrebno pripremiti:
    </h4>
  </div>
</div>
{% for ugovor in ugovori %}
            {% for um in ugovor.meniUgovor() %}
              <hr style="border-top: 1px dotted #8c8b8b">
              <h4>{{ um.meni().naziv }}:&emsp;<span class="text-primary">{{ um.komada }}</span></h4>
<div class="form-row">
  {% for kat in um.meni().kategorije() %}
  <div class="col-md-2">
    <h4 class="text-info">{{ kat.kategorija }}</h4>
    <ul class="list-unstyled">
      {% for stavka in um.meni().stavke(kat.kategorija) %}
      <li>{{ stavka.naziv }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  </div>
  {% endfor %}
{% endfor %}
{% endblock naslov %}
