{% extends "templates/app.twig" %}
{% block naslov %}
	<div class="row mt-5">
		<div class="col text-center">
			<h4><img src="{{ base_url() }}/img/logo.png" alt="logo HK" height="100px">&emsp;Sistem za zakazivanje i pomoć u organizovanju događaja</h4>
			<hr>
		</div>
	</div>
{% endblock naslov %}
{% block sadrzaj %}
<div class="row">
	<div class="col text-center">
			<h4>Pregled rezervacija kojima uskoro ističe važnost ili je već istekla</h4>
	</div>
</div>
<div class="table-responsive mt-2" style="font-size: 0.75rem">
  <table class="table">
    <thead class="thead-dark table-sm">
      <tr>
        <th class="w-5" scope="col">ID</th>
        <th class="w-20" scope="col">Sala</th>
        <th class="w-10" scope="col">Datum</th>
        <th class="w-10" scope="col">Datum važnosti</th>
        <th class="w-20" scope="col">Obaveštenje</th>
        <th class="w-20" scope="col">Opis</th>
        <th class="w-10" scope="col" style="text-align:right;"><i class="fas fa-cogs text-warning"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for termin in termini %}
      <tr>
        <th scope="row" class="text-danger">{{ termin.id }}</th>
        <td><strong><a href="{{ path_for('termin.detalj.get', { id: termin.id }) }}" title="Detaljni pregled odabranog termina">{{ termin.sala().naziv }}</a></strong></td>
        <td>{{ termin.datum|date() }}</td>
        <td class="{{ date(termin.vaznost) <  date() ? "text-danger" : "text-primary" }}"><strong>{{ termin.vaznost|date() }}</strong></td>
        <td class="text-center {{ termin.obavestenje !=  null ?  "text-primary" : "text-danger" }}">{{ termin.obavestenje !=  null ?  termin.obavestenje : "Obaveštenje još nije poslato!" }}</td>
        <td class="font-italic">{{ termin.opis|length > 50 ? termin.opis|slice(0, 50) ~ ' ...' : termin.opis  }}</td>
        <td style="text-align:right;">
          <div class="btn-group btn-group-sm">
            {% if termin.obavestenje ==  null %}
            <button class="btn btn-primary btn-sm otvori-obavestenje" data-toggle="modal"
            data-target="#slanjeObavestenja" data-id="{{ termin.id }}" 
            title="Pošalji upozorenje o otkazu rezervacije">
            <i class="fas fa-envelope"></i></button>
            {% endif %}
            <button class="btn btn-success btn-sm otvori-vaznost" data-toggle="modal"
            data-target="#ukloniVaznost" data-id="{{ termin.id }}" 
            title="Poništi važnost">
            <i class="fas fa-minus"></i></button>
            <button class="btn btn-danger btn-sm otvori-brisanje" data-toggle="modal" data-target="#brisanjeModal"
            data-id="{{ termin.id }}" title="Brisanje odabranog termina">
            <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{# Modal za slanje obavestenja #}
<div id="slanjeObavestenja" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning">Upozorenje!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Da li želite da pošaljete korisniku upozorenje o isteku rezervacije za termin?</h4>
        <form id="slanje-obavestenja" action="{{ path_for('termin.obavestenje') }}" method="POST">
          {{ csrf|raw }}
          <input type="hidden" id="idTermina" name="idTermina">
          <hr style="margin-top: 30px;">

          <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
            <div class="form-group">
              <button id="btn-slanje-obavestenja" type="submit" class="btn btn-warning">
                <i class="fas fa-envelope"></i>&emsp;Pošalji
              </button>
              <a class="btn btn-secondary" data-dismiss="modal">
                <i class="fas fa-ban"></i>&emsp;Otkaži
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za slanje obavestenja #}

{# Modal za uklanjanje vaznosti #}
<div id="ukloniVaznost" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Upozorenje!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Da li želite da uklonite važnost rezervacije za ovaj termin?</h4>
        <form id="ukloni-vaznost" action="{{ path_for('termin.ukloni.vaznost') }}" method="POST">
          {{ csrf|raw }}
          <input type="hidden" id="idTerminaVaznost" name="idTerminaVaznost">
          <hr style="margin-top: 30px;">

          <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
            <div class="form-group">
              <button id="btn-ukloni-vaznost" type="submit" class="btn btn-danger">
                <i class="fas fa-minus"></i>&emsp;Ukloni
              </button>
              <a class="btn btn-secondary" data-dismiss="modal">
                <i class="fas fa-ban"></i>&emsp;Otkaži
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za uklanjanje vaznosti #}

{# Modal za brisanje termina #}
<div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Upozorenje!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Da li želite trajno da obrišete termin?</h6>
        <p class="text-danger">* Ova akcija je nepovratna!</p>
        <form action="{{ path_for('termin.brisanje.post') }}" method="POST" id="modal-forma-brisanje-termina">
          {{ csrf | raw }}
          <input type="hidden" name="modal_termin_brisanje_id" id="modal_termin_brisanje_id" />
          <hr style="margin-top: 30px;">

          <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
            <div class="form-group">
                  <button class="btn btn-danger" type="submit" id="modal-obrisi-termin">
          <i class="fas fa-trash-alt"></i> Obriši
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-ban"></i> Otkaži
        </button>
        </form>
                    </div>
          </div>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za brisanje termina #}
{% endblock sadrzaj %}
{% block traka %}
    <h4><i class="fas fa-bell text-primary"></i>&emsp;Podsetnici</h4>
    <hr>
{% for podsetnik in podsetnici %}
  {% if loop.index is even %}
    <div class="row bg-light">
  {% else %}
    <div class="row">
  {% endif %}
      <div class="col-2 text-right">
        <h2><span class="badge badge-secondary">{{ podsetnik.datum|date("d") }}</span></h2>
        <h4>{{ podsetnik.datum|date("F") }}</h4>
      </div>
      <div class="col-10">
        <p class="text-uppercase"><strong>{{ podsetnik.tekst }}</strong></p>
        <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-calendar text-primary"></i>&emsp;{{ podsetnik.datum|date() }}</li>
            <li class="list-inline-item"><i class="fas fa-user text-primary"></i>&emsp;{{ podsetnik.korisnik.imePrezime() }}</li>
        </ul>
      </div>
    </div>
{% endfor %}
{% endblock traka %}
{% block skripta %}
<script>
  $(document).ready(function () {
$(".otvori-obavestenje").on("click", function () {
      var id = $(this).data("id");
      $("#idTermina").val(id);
    });

$(".otvori-vaznost").on("click", function () {
      var id = $(this).data("id");
      $("#idTerminaVaznost").val(id);
    });

$(".otvori-brisanje").on("click", function () {
      var id = $(this).data("id");
      $("#modal_termin_brisanje_id").val(id);
    });

});
</script>
{% endblock skripta %}