{% extends "templates/app.twig" %}
{% block stil %}
  <style>
  @media (max-width: 575.98px) {
  .mobilni{
    font-size: 0.75rem !important;
  }
  }
  </style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-4 d-none d-sm-flex">
  <div class="col">
   <h1>
      <i class="fas fa-history text-secondary"></i> Pregled logova
    </h1>
    {% if data %}
    <small><em class="text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="text-success">[svi logovi]</em></small>
    {% endif %}
  </div>
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group mt-3">
      <button type="button" class="btn btn-success btn-sm prikazi" id="prikazi" title="Prikaži formu za filtriranje">
        <i class="fas fa-filter"></i> Filter</button>
      <a href="{{ path_for('logovi') }}" class="btn btn-secondary btn-sm pretraga_div"><i class="fas fa-history"></i> Svi logovi</a>
    </div>
  </div>
</div>
<div class="row mt-2 d-sm-none">
  <div class="col">
   <h4>
      <i class="fas fa-history text-secondary"></i> Pregled logova
    </h4>
    {% if data %}
    <small><em class="text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="text-success">[svi logovi]</em></small>
    {% endif %}
  </div>
</div>
<div class="row mt-2 d-sm-none">
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group">
      <button type="button" class="btn btn-success btn-sm prikazi" id="prikazi" title="Prikaži formu za filtriranje">
        <i class="fas fa-filter"></i> Filter</button>
      <a href="{{ path_for('logovi') }}" class="btn btn-secondary btn-sm pretraga_div"><i class="fas fa-history"></i> Svi logovi</a>
    </div>
  </div>
</div>
<hr />
<div class="card border-dark mb-3 pretraga_div" style="display: none;">
    <div class="card-header">Filtriranje logova</div>
    <div class="card-body text-dark mobilni">
    <form action="{{ path_for('logovi.pretraga') }}" method="POST">
        {{ csrf|raw }}
        <div class="form-row">
        <div class="form-group col-md-2">
        <label for="opis">Opis loga: </label>
        <input type="text" name="opis" id="opis" class="form-control"
            value="{{ data.opis }}" autocomplete="off" placeholder="Opis">
        </div>
        <div class="form-group col-md-2">
          <label for="korisnik_id">Korisnik</label>
          <select class="custom-select mb-2" name="korisnik_id" id="korisnik_id" class="form-control">
            <option value=""></option>
            {% for korinik in korisnici %}
          <option value="{{ korinik.id }}" {{ data.korisnik_id == korinik.id ? ' selected' : '' }}>{{ korinik.ime }}
          </option>
          {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="tip">Tip akcije:</label>
          <select class="custom-select mb-2" name="tip" id="tip" class="form-control"> 
          <option value=""></option>
          <option value="dodavanje">Dodavanje novog zapisa</option>
          <option value="izmena">Izmena zapisa</option>
          <option value="brisanje">Brisanje zapisa</option>
          <option value="upload">Otpremanje podataka</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="tip">Datum (od): </label>
          <input type="date" name="datum_1" id="datum_1" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="tip">Datum (do): </label>
          <input type="date" name="datum_2" id="datum_2" class="form-control">
        </div>
        <div class="col-md-2 text-right mt-4">
        <div class="btn-group">
          <button type="submit" class="btn btn-success btn-sm">
          <i class="fas fa-filter"></i> Filtriraj
          </button>
            <a href="{{ path_for('logovi') }}" class="btn btn-secondary btn-sm"><i class="fas fa-history"></i> Svi logovi</a>
        </div>
        </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 offset-md-6">
              <small class="text-warning">
                * Ako se unese samo prvi datum pretraga će se vršiti za ugovore sa tim datumom. Ako se unesu oba datuma pretraga će se vršiti za ugovore između ta dva datuma.
              </small>
            </div>
        </div>
    </form>
  </div>
</div>
<div class="table-responsive">
<table class="table mobilni">
  <thead class="thead-dark">
    <tr>
      <th class="w-5" scope="col">ID</th>
      <th class="w-35" scope="col">Opis</th>
      <th class="w-20" scope="col">Tip</th>
      <th class="w-20" scope="col">Korisnik</th>
      <th class="w-20" scope="col">Datum i vreme</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logovi.data %}
    <tr>
      <th scope="row" class="text-danger">{{ log.id }}</th>
      <td>{{ log.opis }}</td>
      <td>{{ log.tip }}</td>
      <td>{{ log.korisnik.ime }}</td>
      <td>{{ log.datum|date('d.m.Y H:i') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row mobilni">
  <nav class="col">
    <ul class="pagination pagination-sm">
      {% for button in logovi.links.buttons %}
      <li class="page-item{{ button.current ? ' active' : '' }}">
        <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <p class="col justify-content-end text-right text-info"><strong>
      Prikazani redovi od
      <em>{{ logovi.links.row_from }}</em> do
      <em>{{ logovi.links.row_to }}</em> od ukupno
      <em>{{ logovi.links.total_rows }}</em>
    </strong>
  </p>
</div>
{% endblock naslov %}
{% block skripta %}
  <script>
    $(document).ready(function () {

    $('.prikazi').click(function () {
        $('.pretraga_div').toggle();
    });

    });
  </script>
{% endblock skripta %}


