{% extends "templates/app.twig" %}
{% block stil %}
  <style>
  .btn-sm{
    margin-top: .25rem;
  }
  @media (max-width: 575.98px) {
  .mobilni{
    font-size: 0.75rem !important;
  }
  .btn, .btn-sm{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  h3 {
    font-size: 1.25rem !important;
  }
  }
  </style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-2 ne_stampaj">
  <div class="col d-none d-sm-flex">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled menija - <strong
        class="text-capitalize text-warning"> {{ meni.naziv }}</strong>
    </h1>
  </div>
    <div class="col d-sm-none">
    <h4>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled menija - <strong
        class="text-capitalize text-warning"> {{ meni.naziv }}</strong>
    </h4>
  </div>
  <div class="col justify-content-end text-right mt-3">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back();" title="Povratak na prethodnu stranu"><i
          class="fas fa-chevron-circle-left"></i> Nazad</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm" title="Povratak na tabelarni prikaz menija"><i class="fas fa-drumstick-bite"></i> SVI
        meniji</a>
      <button type="button" class="btn btn-primary btn-sm" title="Štampanje menija" onclick="window.print();">
      <i class="fas fa-print"></i> Štampaj</button>
    </div>
  </div>
</div>
<div class="row ml-3 ne_stampaj">
  <h3><span class="badge badge-warning">{{ meni.cena | number_format(2, '.', ',') }} din</span></h3>
</div>
<hr class="ne_stampaj" />
<div class="row justify-content-center my-4 prikazi" style="visibility: hidden">
  <h1>
      <strong class="text-capitalize"> {{ meni.naziv }} meni</strong>
  </h1>
</div>
<div class="row justify-content-center mobilni">
  <div class="col-5 bg-light text-dark">
    {# Predjelo #}
    {% if meni.hladno_predjelo %}
    <h3 class="font-italic">Hladno predjelo</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.hladno_predjelo|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# Sirevi #}
    {% if meni.sirevi %}
    <h3 class="font-italic">Sirevi</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.sirevi|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# Corba #}
    {% if meni.corba %}
    <h3 class="font-italic">Čorba</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.corba|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# Glavno jelo #}
    {% if meni.glavno_jelo %}
    <h3 class="font-italic">Glavno jelo</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.glavno_jelo|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col-5 bg-light text-dark">
    {# Meso #}
    {% if meni.meso %}
    <h3 class="font-italic">Meso</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.meso|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# Hleb #}
    {% if meni.hleb %}
    <h3 class="font-italic">Hleb</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.hleb|split(';')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# Karta pica #}
    {% if meni.karta_pica %}
    <h3 class="font-italic">Karta pića</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.karta_pica|split(';')%}
    <ul class="mb-4">
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  </div>
    <div class="row justify-content-center my-4 mobilni ne_stampaj">
      <div class="col-6">
        <div class="card border-primary text-center">
          <div class="card-header">Napomena:</div>
          <div class="card-body text-primary">
            <p class="card-text font-italic">{{ meni.napomena }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock naslov %}

