{% extends "templates/app.twig" %}
{% block stil %}
  <style>
  @media (max-width: 575.98px) {
  .mobilni{
    font-size: 0.75rem !important;
  }
  .btn {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  }
}
  </style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-2 d-none d-sm-flex">
  <div class="col">
   <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled dostupnih menija
    </h1>
    {% if data %}
    <small><em class="text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="text-success">[svi meniji]</em></small>
    {% endif %}
  </div>
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group mt-3">
      <a href="{{ path_for('meni.dodavanje.get') }}" class="btn-sm btn btn-primary">
      <i class="fas fa-plus-square"></i>&emsp;Dodaj
      </a>
      <button type="button" class="btn btn-success btn-sm prikazi" id="prikazi" title="Prikaži formu za filtriranje">
        <i class="fas fa-filter"></i> Filter</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm pretraga_div"><i class="fas fa-drumstick-bite"></i>&emsp;Svi meniji</a>
    </div>
  </div>
</div>
<div class="row mt-2 d-sm-none">
  <div class="col">
   <h4>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled dostupnih menija
    </h4>
    {% if data %}
    <small><em class="text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="text-success">[svi meniji]</em></small>
    {% endif %}
  </div>
</div>
<div class="row mt-2 d-sm-none">
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group">
      <a href="{{ path_for('meni.dodavanje.get') }}" class="btn-sm btn btn-primary">
        <i class="fas fa-plus-square"></i>&emsp;Dodaj
      </a>
      <button type="button" class="btn btn-success btn-sm prikazi" id="prikazi" title="Prikaži formu za filtriranje">
        <i class="fas fa-filter"></i> Filter</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm pretraga_div"><i class="fas fa-drumstick-bite"></i>&emsp;Svi meniji</a>
    </div>
  </div>
</div>
<hr />
<div class="card border-dark mb-3 pretraga_div" style="display: none;">
    <div class="card-header">Filtriranje menija</div>
    <div class="card-body text-dark mobilni">
    <form action="{{ path_for('meni.pretraga') }}" method="POST">
        {{ csrf|raw }}
        <div class="form-row">
        <div class="form-group col-md-2">
          <label for="upit">Ključna reč za pretragu: </label>
        <input type="text" name="upit" id="upit" class="form-control"
            value="{{ data.upit }}" autocomplete="off" placeholder="Opis" required>
        </div>
        <div class="col-md-10 text-right mt-4">
        <div class="btn-group">
          <button type="submit" class="btn btn-success btn-sm">
          <i class="fas fa-filter"></i> Filtriraj
          </button>
            <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm"><i class="fas fa-drumstick-bite"></i>&emsp;Svi meniji</a>
        </div>
        </div>
        </div>
    </form>
  </div>
</div>
<div class="table-responsive mobilni">
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="w-3" scope="col">ID</th>
      <th class="w-11" scope="col">Naziv</th>
      <th class="w-7" scope="col">Cena</th>
      <th class="w-10" scope="col">Hladno predjelo</th>
      <th class="w-10" scope="col">Sirevi</th>
      <th class="w-11" scope="col">Čorba</th>
      <th class="w-11" scope="col">Glavno jelo</th>
      <th class="w-10" scope="col">Meso</th>
      <th class="w-10" scope="col">Hleb</th>
      <th class="w-10" scope="col">Karta pića</th>
      <th class="w-7" scope="col" style="text-align:right;"><i class="fas fa-cogs text-warning"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for me in meni.data %}
    <tr>
      <th scope="row" class="text-danger">{{ me.id }}</th>
      <td><strong class="text-info napomena_tool" data-toggle="napomena_tool" 
        title="Napomena:" data-content="{{ me.napomena }}">
                    {{ me.naziv }}
          </strong>
      </td>
      <td class="text-success">{{ me.cena|number_format(2, '.', ',')}}</td>
      <td><small>{{ me.hladno_predjelo|nl2br }}</small></td>
      <td><small>{{ me.sirevi|nl2br }}</small></td>
      <td><small>{{ me.corba|nl2br }}</small></td>
      <td><small>{{ me.glavno_jelo|nl2br }}</small></td>
      <td><small>{{ me.meso|nl2br }}</small></td>
      <td><small>{{ me.hleb|nl2br }}</small></td>
      <td><small>{{ me.karta_pica|nl2br }}</small></td>
      <td style="text-align:right;">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-success btn-sm" href="{{ path_for('meni.detalj', { id: me.id }) }}" title="Detaljni pregled odabranog menija"><i
              class="fas fa-eye"></i></a>
          <a class="btn btn-warning btn-sm" href="{{ path_for('meni.izmena.get', { id: me.id }) }}" title="Izmena odabranog menija"><i
              class="fas fa-edit"></i></a>
          <button class="btn btn-danger btn-sm otvori-brisanje" data-toggle="modal" data-target="#brisanjeModal"
            data-id="{{ me.id }}" title="Brisanje odabranog menija">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row mobilni">
  <nav class="col">
    <ul class="pagination pagination-sm">
      {% for button in meni.links.buttons %}
      <li class="page-item{{ button.current ? ' active' : '' }}">
        <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <p class="col justify-content-end text-right text-info"><strong>
      Prikazani redovi od
      <em>{{ meni.links.row_from }}</em> do
      <em>{{ meni.links.row_to }}</em> od ukupno
      <em>{{ meni.links.total_rows }}</em>
    </strong>
  </p>
</div>
{# Modal za brisanje #}
  <div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Upozorenje!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Da li želite trajno da obrišete meni?</h4>
          <p class="text-danger">* Ova akcija je nepovratna!</p>
          <form id="brisanje-forma" action="{{ path_for('meni.brisanje') }}" method="POST">
            {{ csrf|raw }}
            <input type="hidden" id="idBrisanje" name="idBrisanje">
            <hr style="margin-top: 30px;">

            <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
              <div class="form-group">
                <button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>&emsp;Obriši
                </button>
                <a class="btn btn-secondary" data-dismiss="modal">
                  <i class="fas fa-ban"></i>&emsp;Otkaži
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {# Kraj modala za brisanje #}
{% endblock naslov %}
{% block skripta %}
  <script>
    $(document).ready(function () {

      $('.napomena_tool').popover({
            placement: 'right',
            trigger: 'hover'
        });

      $('.prikazi').click(function () {
        $('.pretraga_div').toggle();
    });

      $(document).on('click', '.otvori-brisanje', function () {
        var id = $(this).data("id");
        $('#idBrisanje').val(id);
      });

    });
  </script>
{% endblock skripta %}


