{% extends "templates/app.twig" %}
{% block stil %}
  <style>
  .btn-sm{
    margin-top: .25rem;
  }
  @media (max-width: 575.98px) {
  .mobilni{
    font-size: 0.75rem !important;
  }
  .btn, .btn-sm{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  }
  </style>
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-2">
  <div class="col d-none d-sm-flex">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Dodavanje menija
    </h1>
  </div>
   <div class="col d-sm-none">
    <h4>
      <i class="fas fa-drumstick-bite text-secondary"></i> Dodavanje menija
    </h4>
  </div>
  <div class="col justify-content-end mt-2 text-right">
    <div class="btn-group btn-group">
      <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back();" title="Povratak na prethodnu stranu"><i
          class="fas fa-chevron-circle-left"></i> Nazad</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm" title="Povratak na tabelarni prikaz menija"><i class="fas fa-drumstick-bite"></i> SVI meniji</a>
      <button type="button" class="btn btn-info btn-sm prikazi" id="prikazi" title="Pomoć u popunjavanju polja menija">
        <i class="fas fa-clipboard-check"></i></button>
    </div>
  </div>
</div>
<hr />
<div class="row mb-3 pretraga_div" style="display: none;">
  <div class="col-12">
    <h5>Hleb:</h5>
    <button type="button" class="btn btn-dark btn-sm hleb" 
    value="Beli hleb">Beli hleb</button>
    <button type="button" class="btn btn-dark btn-sm hleb" 
    value="Integralni hleb">Integralni hleb</button>
    <button type="button" class="btn btn-dark btn-sm hleb" 
    value="Hrono hleb">Hrono hleb</button>
    <button type="button" class="btn btn-dark btn-sm hleb" 
    value="Domaće lepinje">Domaće lepinje</button>
    <button type="button" class="btn btn-dark btn-sm hleb" 
    value="Proja">Proja</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_hleb"><i class="fas fa-eraser"></i></button>
  </div>
  <div class="col-12">
    <h5>Hladno predjelo:</h5>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Suva svinjska pečenica">Suva svinjska pečenica</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Suva goveđa pršuta">Suva goveđa pršuta</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Njeguški pršut">Njeguški pršut</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Budimska kobasica">Budimska kobasica</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Italijanska pršuta">Italijanska pršuta</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Kajmak">Kajmak</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Paprika u pavlaci">Paprika u pavlaci</button>
    <button type="button" class="btn btn-dark btn-sm hladno" 
    value="Susam kuglice sa šunkom i urda sirom">Susam kuglice sa šunkom i urda sirom</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_hladno"><i class="fas fa-eraser"></i></button>
  </div>
  <div class="col-12">
    <h5>Sirevi:</h5>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Kačkavalj">Kačkavalj</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Dimljeni kačkavalj">Dimljeni kačkavalj</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Dimljeni kačkavalj sa nanom">Dimljeni kačkavalj sa nanom</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Dimljeni kačkavalj sa paprikom">Dimljeni kačkavalj sa paprikom</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Feta sir">Feta sir</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Gauda sir">Gauda sir</button>
    <button type="button" class="btn btn-dark btn-sm sir" 
    value="Francuski buđavi sir">Francuski buđavi sir</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_sir"><i class="fas fa-eraser"></i></button>
  </div>
  <div class="col-12">
    <h5>Čorbe:</h5>
    <button type="button" class="btn btn-dark btn-sm corba" 
    value="Teleća čorba">Teleća čorba</button>
    <button type="button" class="btn btn-dark btn-sm corba" 
    value="Pileća čorba">Pileća čorba</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_corba"><i class="fas fa-eraser"></i></button>
  </div>
  <div class="col-12">
    <h5>Glavno jelo:</h5>
    <button type="button" class="btn btn-dark btn-sm glavno" 
    value="Svadbarski kupus">Svadbarski kupus</button>
    <button type="button" class="btn btn-dark btn-sm glavno" 
    value="Juneći gulaš">Juneći gulaš</button>
    <button type="button" class="btn btn-dark btn-sm glavno" 
    value="Dinstana junetina">Dinstana junetina</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_glavno"><i class="fas fa-eraser"></i></button>
  </div>
   <div class="col-12">
    <h5>Meso:</h5>
    <button type="button" class="btn btn-dark btn-sm meso" 
    value="Jagnjeće pečenje">Jagnjeće pečenje</button>
    <button type="button" class="btn btn-dark btn-sm meso" 
    value="Svinjsko pečenje">Svinjsko pečenje</button>
    <button type="button" class="btn btn-dark btn-sm meso" 
    value="Roštilj (pljeskavica, vešalica, pileći file)">Roštilj (pljeskavica, vešalica, pileći file)</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_meso"><i class="fas fa-eraser"></i></button>
  </div>
  <div class="col-12">
    <h5>Karta pića:</h5>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Domaća rakija šljiva">Domaća rakija šljiva</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Domaća rakija dunja">Domaća rakija dunja</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Domaća rakija kajsija">Domaća rakija kajsija</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Domaća rakija viljamovka">Domaća rakija viljamovka</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Vodka">Vodka</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Vermuth">Vermuth</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Pelinkovac">Pelinkovac</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Heineken 0.4l">Heineken 0.4l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Tuborg 0.5l">Tuborg 0.5l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Vinarija Stobi: Red, White, Rose 0.75l">Vinarija Stobi: Red, White, Rose 0.75l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Vinarija Doja: Enigma Red, White, Rose 0.75l">Vinarija Doja: Enigma Red, White, Rose 0.75l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Negazirana voda Vrnjci 1l">Negazirana voda Vrnjci 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Gazirana voda Vrnjci 1l">Gazirana voda Vrnjci 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Coca Cola 1l">Coca Cola 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Fanta 1l">Fanta 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Pomorandža Takovo 1l">Pomorandža Takovo 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Breskva Takovo 1l">Breskva Takovo 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Jabuka Takovo 1l">Jabuka Takovo 1l</button>
    <button type="button" class="btn btn-dark btn-sm karta" 
    value="Domaća kafa">Domaća kafa</button>
    <button type="button" class="btn btn-danger btn-sm" id="cisti_karta"><i class="fas fa-eraser"></i></button>
  </div>
</div>
<div class="card border-dark mb-3">
  <div class="card-header text-primary">* Ako navodite više stavki u nekoj od kategorija razdvojite ih tačkom i zarezom i prebacite u novi red tasterom enter.</div>
  <div class="card-body text-dark mobilni">
    <form action="{{ path_for('meni.dodavanje.post') }}" method="POST" class="needs-validation" novalidate>
      {{ csrf | raw }}

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="naziv">Naziv</label>
          <input type="text" class="form-control{{ errors.naziv[0] ? ' is-invalid' : '' }}" value="{{ old.naziv ? : '' }}" name="naziv" id="naziv" aria-describedby="Naziv sale" autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">
            {{ errors.naziv[0] ? : 'Obavezno polje' }}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="cena">Cena</label>
          <input type="number" class="form-control{{ errors.cena[0] ? ' is-invalid' : '' }}" value="{{ old.cena ? : '' }}" name="cena" id="cena" value="{{ old.cena ? : 0 }}" min="0" step="1" autocomplete="off" required>
          <div class="valid-feedback">Odgovarajući podatak</div>
          <div class="invalid-feedback">
            {{ errors.cena[0] ? : 'Obavezno polje' }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="napomena">Napomena</label>
          <textarea class="form-control" name="napomena" id="napomena" rows="3"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col-md-4">
          <label for="hleb"><i class="fas fa-bread-slice fa-lg text-warning"></i>&emsp;<strong>Hleb</strong></label>
          <textarea class="form-control" name="hleb" id="hleb" rows="3"></textarea>
        </div>
        <div class="col-md-4">
          <label for="hladno_predjelo"><i class="fas fa-bacon fa-lg text-warning"></i>&emsp;<strong>Hladno
              predjelo</strong></label>
          <textarea class="form-control" name="hladno_predjelo" id="hladno_predjelo" rows="3"></textarea>
        </div>
        <div class="col-md-4">
          <label for="sirevi"><i class="fas fa-cheese fa-lg text-warning"></i>&emsp;<strong>Sirevi</strong></label>
          <textarea class="form-control" name="sirevi" id="sirevi" rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mt-2">
          <label for="corba"><i class="fas fa-utensil-spoon fa-lg text-warning"></i>&emsp;<strong>Čorba</strong></label>
          <textarea class="form-control" name="corba" id="corba" rows="3"></textarea>
        </div>
        <div class="col-md-4 mt-2">
          <label for="glavno_jelo"><i class="fas fa-utensils fa-lg text-warning"></i>&emsp;<strong>Glavno jelo</strong></label>
          <textarea class="form-control" name="glavno_jelo" id="glavno_jelo" rows="3"></textarea>
        </div>
        <div class="col-md-4 mt-2">
          <label for="meso"><i class="fas fa-drumstick-bite fa-lg text-warning"></i>&emsp;<strong>Meso</strong></label>
          <textarea class="form-control" name="meso" id="meso" rows="3"></textarea>
        </div>
      </div>
      <div class="form-row justify-content-between mt-2">
        <div class="col-md-4">
          <label for="karta_pica"><i class="fas fa-wine-glass fa-lg text-warning"></i>&emsp;<strong>Karta pića</strong></label>
          <textarea class="form-control" name="karta_pica" id="karta_pica" rows="3"></textarea>
        </div>
        <div class="col-md-8 mt-2 text-right align-self-end">
          <button type="submit" class="btn btn-primary" title="Dodaj novi meni"><i class="fas fa-plus-square"></i> &emsp;Dodaj</button>
          <a href="{{ path_for('meni') }}" class="btn btn-secondary"><i class="fas fa-ban"></i> &emsp;Otkaži</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock naslov %}
{% block skripta %}
  <script type="text/javascript">
  $(document).ready(function () {
    (function() {
            "use strict";
            window.addEventListener(
              "load",
              function() {
                var forms = document.getElementsByClassName("needs-validation");
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener(
                    "submit",
                    function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add("was-validated");
                    },
                    false
                  );
                });
              },
              false
            );
          })();

          $('.prikazi').click(function () {
        $('.pretraga_div').toggle();
    });

  $(".hladno").click(function(){
    var box = $("#hladno_predjelo");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_hladno').click(function() {
    $("#hladno_predjelo").val("");
    $(".hladno").prop('disabled', false);
  });

  $(".hleb").click(function(){
    var box = $("#hleb");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_hleb').click(function() {
    $("#hleb").val("");
    $(".hleb").prop('disabled', false);
  });

  $(".sir").click(function(){
    var box = $("#sirevi");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_sir').click(function() {
    $("#sirevi").val("");
    $(".sir").prop('disabled', false);
  });

  $(".corba").click(function(){
    var box = $("#corba");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_corba').click(function() {
    $("#corba").val("");
    $(".corba").prop('disabled', false);
  });

  $(".glavno").click(function(){
    var box = $("#glavno_jelo");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_glavno').click(function() {
    $("#glavno_jelo").val("");
    $(".glavno").prop('disabled', false);
  });

  $(".meso").click(function(){
    var box = $("#meso");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_meso').click(function() {
    $("#meso").val("");
    $(".meso").prop('disabled', false);
  });

  $(".karta").click(function(){
    var box = $("#karta_pica");
    box.val(box.val() + $(this).val() + ";" + "\n");
    $(this).prop('disabled', true);
  });

  $('#cisti_karta').click(function() {
    $("#karta_pica").val("");
    $(".karta").prop('disabled', false);
  });

  });
  </script>
{% endblock skripta %}

